desktop.ini
.vscode
.ipynb_checkpoints/
*.pyc
*.pt
*_log.txt
*.mat
*.o
*.c
*.h
bin/
.DS_Store
.idea/
db
models
lms.binaryfile
sgms.binaryfile
state
data
measuring.txt
test
env
measurement.csv
measurement_label_similarities.csv
measurment_tensor_similarities.csv
measurement_tensor_similarities
measurement.txt