desktop.ini
.vscode
.ipynb_checkpoints/
*.pyc
*.pt
*_log.txt
*.mat
*.o
*.c
*.h
bin/
.DS_Store
.idea/
db
models
lms.binaryfile
sgms.binaryfile
state
data
measuring.txt
test
env
measurement.csv
measurement_label_similarities.csv
measurment_tensor_similarities.csv
measurement_tensor_similarities
measurement.txt
measurements.txt
label_accuracy.csv
fl_main/image_classification/__pycache__
global_label_accuracy.csv
test_files
.setups
./setups
script.sh